{{>php_file_header}}

namespace {{apiPackage}};

{{#operations}}
{{#operation}}
{{#hasFormParams}}
use {{invokerPackage}}\Http\Requests\{{operationIdCamelCase}}Request;
{{/hasFormParams}}
{{^hasFormParams}}
use Illuminate\Http\Request;
{{/hasFormParams}}
use {{invokerPackage}}\Http\Responses\{{operationIdCamelCase}}ApiInterfaceResponseInterface;

/**
 * Handler interface for {{operationId}} operation
 *
 * Implement this interface in your application to provide business logic
 * The handler must return a response that implements {{operationIdCamelCase}}ApiInterfaceResponseInterface
 */
interface {{classname}}
{
    /**
     * Handle {{operationId}} operation
     *
{{#notes}}
     * {{notes}}
     *
{{/notes}}
{{#hasParams}}
{{#allParams}}
     * @param {{dataType}} ${{paramName}} {{description}}
{{/allParams}}
{{/hasParams}}
     * @return {{operationIdCamelCase}}ApiInterfaceResponseInterface
     */
    public function handle(
{{#allParams}}
        {{#isContainer}}
        {{^required}}?{{/required}}array ${{paramName}}{{^-last}},{{/-last}}
        {{/isContainer}}
        {{^isContainer}}
        {{^required}}?{{/required}}{{{dataType}}} ${{paramName}}{{^-last}},{{/-last}}
        {{/isContainer}}
{{/allParams}}
    ): {{operationIdCamelCase}}ApiInterfaceResponseInterface;
}
{{/operation}}
{{/operations}}
