{
    "name": "{{composerVendorName}}/{{composerPackageName}}",
    {{#artifactVersion}}
    "version": "{{.}}",
    {{/artifactVersion}}
    {{#appDescription}}
    "description": "{{.}}",
    {{/appDescription}}
    {{^appDescription}}
    "description": "Generated OpenAPI Lumen server package",
    {{/appDescription}}
    "keywords": [
        "openapi",
        "php",
        "laravel",
        "api",
        "server",
        "library"{{#packageKeywords}},
        "{{.}}"{{/packageKeywords}}
    ],
    {{#artifactUrl}}
    "homepage": "{{{.}}}",
    {{/artifactUrl}}
    {{^artifactUrl}}
    "homepage": "https://openapi-generator.tech",
    {{/artifactUrl}}
    {{#licenseName}}
    "license": "{{.}}",
    {{/licenseName}}
    {{^licenseName}}
    "license": "unlicense",
    {{/licenseName}}
    "authors": [
        {{#developerName}}
        {
            "name": "{{developerName}}"{{#developerEmail}},
            "email": "{{developerEmail}}"{{/developerEmail}}{{#developerOrganizationUrl}},
            "homepage": "{{{developerOrganizationUrl}}}"{{/developerOrganizationUrl}}
        }
        {{/developerName}}
        {{^developerName}}
        {
            "name": "OpenAPI Generator",
            "homepage": "https://openapi-generator.tech"
        }
        {{/developerName}}
    ],
    "type": "library",
    "require": {
        "php": "^8.1",
        "laravel/framework": "^10.0|^11.0"
    },
    "autoload": {
        "psr-4": {
            "{{escapedInvokerPackage}}\\": ""
        }
    },
    "config": {
        "sort-packages": true
    },
    "minimum-stability": "dev",
    "prefer-stable": true
}
