<?php

declare(strict_types=1);

namespace {{controllerPackage}};

use Symfony\Bundle\FrameworkBundle\Controller\AbstractController;
use Symfony\Component\HttpFoundation\JsonResponse;
use Symfony\Component\HttpFoundation\Request;
use Symfony\Component\HttpFoundation\Response;
{{#hasBodyParam}}
use Symfony\Component\Validator\Validator\ValidatorInterface;
use {{modelPackage}}\{{bodyParam.baseType}};
{{/hasBodyParam}}
use {{apiPackage}}\{{operation.baseName}}ApiServiceInterface;

/**
 * {{classname}}
 *
 * {{summary}}
 *
 * @generated
 */
class {{classname}} extends AbstractController
{
    public function __construct(
        private readonly {{operation.baseName}}ApiServiceInterface $handler,
{{#hasBodyParam}}
        private readonly ValidatorInterface $validator,
{{/hasBodyParam}}
    ) {
    }

    /**
     * {{summary}}
     *
     * {{notes}}
     */
    public function __invoke(Request $request{{#pathParams}}, {{dataType}} ${{paramName}}{{/pathParams}}): JsonResponse
    {
{{#hasBodyParam}}
        $data = json_decode($request->getContent(), true) ?? [];
        $requestDto = {{bodyParam.baseType}}::fromArray($data);

        $violations = $this->validator->validate($requestDto);
        if (count($violations) > 0) {
            $errors = [];
            foreach ($violations as $violation) {
                $errors[$violation->getPropertyPath()][] = $violation->getMessage();
            }
            return new JsonResponse(['errors' => $errors], Response::HTTP_UNPROCESSABLE_ENTITY);
        }

{{/hasBodyParam}}
        $result = $this->handler->{{operationIdCamelCase}}(
{{#allParams}}
            {{paramName}}: {{#isPathParam}}${{paramName}}{{/isPathParam}}{{#isQueryParam}}$request->query->get('{{baseName}}'){{/isQueryParam}}{{#isBodyParam}}$requestDto{{/isBodyParam}}{{#isHeaderParam}}$request->headers->get('{{baseName}}'){{/isHeaderParam}},
{{/allParams}}
        );

        return new JsonResponse($result);
    }
}
