use Symfony\Component\Validator\Constraints as Assert;

/**
 * {{classname}}
 *
 * {{description}}
 *
 * @generated
 */
class {{classname}}
{
{{#vars}}
    /**
{{#description}}
     * {{description}}
{{/description}}
{{#isArray}}
     * @var array<mixed>{{^required}}|null{{/required}}
{{/isArray}}
     */
{{#required}}
    #[Assert\NotNull]
{{/required}}
{{#isString}}
{{#minLength}}
    #[Assert\Length(min: {{minLength}}{{#maxLength}}, max: {{maxLength}}{{/maxLength}})]
{{/minLength}}
{{^minLength}}
{{#maxLength}}
    #[Assert\Length(max: {{maxLength}})]
{{/maxLength}}
{{/minLength}}
{{#pattern}}
    #[Assert\Regex(pattern: '{{pattern}}')]
{{/pattern}}
{{#isEmail}}
    #[Assert\Email]
{{/isEmail}}
{{#isUri}}
    #[Assert\Url]
{{/isUri}}
{{#isUuid}}
    #[Assert\Uuid]
{{/isUuid}}
{{/isString}}
{{#isInteger}}
{{#minimum}}
    #[Assert\GreaterThanOrEqual({{minimum}})]
{{/minimum}}
{{#maximum}}
    #[Assert\LessThanOrEqual({{maximum}})]
{{/maximum}}
{{/isInteger}}
{{#isNumber}}
{{#minimum}}
    #[Assert\GreaterThanOrEqual({{minimum}})]
{{/minimum}}
{{#maximum}}
    #[Assert\LessThanOrEqual({{maximum}})]
{{/maximum}}
{{/isNumber}}
{{#isArray}}
{{#minItems}}
    #[Assert\Count(min: {{minItems}}{{#maxItems}}, max: {{maxItems}}{{/maxItems}})]
{{/minItems}}
{{^minItems}}
{{#maxItems}}
    #[Assert\Count(max: {{maxItems}})]
{{/maxItems}}
{{/minItems}}
{{/isArray}}
    public {{#isNullable}}?{{/isNullable}}{{^isNullable}}{{^required}}?{{/required}}{{/isNullable}}{{#isArray}}array{{/isArray}}{{#isMap}}array{{/isMap}}{{^isArray}}{{^isMap}}{{{dataType}}}{{/isMap}}{{/isArray}} ${{name}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{^required}}{{^defaultValue}} = null{{/defaultValue}}{{/required}};

{{/vars}}
    /**
     * Constructor
     */
    public function __construct(
{{#vars}}
        {{#isNullable}}?{{/isNullable}}{{^isNullable}}{{^required}}?{{/required}}{{/isNullable}}{{#isArray}}array{{/isArray}}{{#isMap}}array{{/isMap}}{{^isArray}}{{^isMap}}{{{dataType}}}{{/isMap}}{{/isArray}} ${{name}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{^required}}{{^defaultValue}} = null{{/defaultValue}}{{/required}},
{{/vars}}
    ) {
{{#vars}}
        $this->{{name}} = ${{name}};
{{/vars}}
    }

    /**
     * Create from array
     *
     * @param array<string, mixed> $data
     */
    public static function fromArray(array $data): self
    {
        return new self(
{{#vars}}
            {{name}}: $data['{{baseName}}'] ?? {{#defaultValue}}{{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}},
{{/vars}}
        );
    }

    /**
     * Convert to array
     *
     * @return array<string, mixed>
     */
    public function toArray(): array
    {
        return [
{{#vars}}
            '{{baseName}}' => $this->{{name}},
{{/vars}}
        ];
    }
}
