{{!
    CodeIgniter 4 Validation Rules

    Generates CI4 validation rules from OpenAPI constraints.
    Uses pipe-delimited format: 'required|max_length[50]|min_length[1]'

    CodeIgniter uses brackets instead of colons:
    - Laravel: 'max:50'
    - CodeIgniter: 'max_length[50]'

    Template Variables Used (same as all other frameworks):
    - {{paramName}} - Parameter name
    - {{#required}} - Is required
    - {{#maxLength}}, {{#minLength}} - String length constraints
    - {{#minimum}}, {{#maximum}} - Numeric constraints
    - {{#pattern}} - Regex pattern
    - {{#isEnum}}, {{#enumVars}} - Enum values

    @see https://codeigniter.com/user_guide/libraries/validation.html
}}
{{#allParams}}
            '{{paramName}}' => '{{#required}}required{{/required}}{{^required}}permit_empty{{/required}}{{#isString}}|string{{/isString}}{{#isInteger}}|integer{{/isInteger}}{{#isLong}}|integer{{/isLong}}{{#isFloat}}|decimal{{/isFloat}}{{#isDouble}}|decimal{{/isDouble}}{{#isBoolean}}|in_list[0,1,true,false]{{/isBoolean}}{{#isEmail}}|valid_email{{/isEmail}}{{#isUri}}|valid_url{{/isUri}}{{#minLength}}|min_length[{{minLength}}]{{/minLength}}{{#maxLength}}|max_length[{{maxLength}}]{{/maxLength}}{{#minimum}}|greater_than_equal_to[{{minimum}}]{{/minimum}}{{#maximum}}|less_than_equal_to[{{maximum}}]{{/maximum}}{{#pattern}}|regex_match[{{pattern}}]{{/pattern}}{{#isEnum}}|in_list[{{#allowableValues}}{{#enumVars}}{{value}}{{^-last}},{{/-last}}{{/enumVars}}{{/allowableValues}}]{{/isEnum}}',
{{/allParams}}
