{{!
    Symfony Validation Attributes Partial

    Generates Symfony Assert attributes from OpenAPI constraints.
    Uses the SAME template variables as Laravel, just formats them differently.

    Template Variables Used:
    - {{#required}} - Is required
    - {{#maxLength}}, {{#minLength}} - String length constraints
    - {{#minimum}}, {{#maximum}} - Numeric constraints
    - {{#exclusiveMinimum}}, {{#exclusiveMaximum}} - Exclusive bounds
    - {{#pattern}} - Regex pattern
    - {{#isEnum}}, {{#enumVars}} - Enum values
    - {{#maxItems}}, {{#minItems}} - Array size constraints
}}
{{#required}}
    #[Assert\NotBlank]
{{/required}}
{{^isPrimitiveType}}
    #[Assert\Valid]
{{/isPrimitiveType}}
{{#isEnum}}
    #[Assert\Choice([{{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}])]
{{/isEnum}}
{{#isContainer}}
    #[Assert\All([
        new Assert\Type("{{#items}}{{dataType}}{{/items}}"),
    ])]
{{/isContainer}}
{{^isContainer}}
    {{#isDate}}
    #[Assert\Type("\DateTime")]
    {{/isDate}}
    {{#isDateTime}}
    #[Assert\Type("\DateTime")]
    {{/isDateTime}}
    {{^isDate}}
    {{^isDateTime}}
    {{^isEnumRef}}
    #[Assert\Type("{{dataType}}")]
    {{/isEnumRef}}
    {{/isDateTime}}
    {{/isDate}}
{{/isContainer}}
{{#hasValidation}}
    {{! Combined Length when both min and max }}
    {{#minLength}}{{#maxLength}}
    #[Assert\Length(min: {{minLength}}, max: {{maxLength}})]
    {{/maxLength}}{{/minLength}}
    {{! Only minLength }}
    {{#minLength}}{{^maxLength}}
    #[Assert\Length(min: {{minLength}})]
    {{/maxLength}}{{/minLength}}
    {{! Only maxLength }}
    {{^minLength}}{{#maxLength}}
    #[Assert\Length(max: {{maxLength}})]
    {{/maxLength}}{{/minLength}}
    {{#minimum}}
    {{#exclusiveMinimum}}
    #[Assert\GreaterThan({{minimum}})]
    {{/exclusiveMinimum}}
    {{^exclusiveMinimum}}
    #[Assert\GreaterThanOrEqual({{minimum}})]
    {{/exclusiveMinimum}}
    {{/minimum}}
    {{#maximum}}
    {{#exclusiveMaximum}}
    #[Assert\LessThan({{maximum}})]
    {{/exclusiveMaximum}}
    {{^exclusiveMaximum}}
    #[Assert\LessThanOrEqual({{maximum}})]
    {{/exclusiveMaximum}}
    {{/maximum}}
    {{#pattern}}
    #[Assert\Regex("/{{pattern}}/")]
    {{/pattern}}
    {{#maxItems}}
    #[Assert\Count(max: {{maxItems}})]
    {{/maxItems}}
    {{#minItems}}
    #[Assert\Count(min: {{minItems}})]
    {{/minItems}}
{{/hasValidation}}
